.message {
    display: none;
    &-newsletter {
        position: fixed;
        top: 50%;
        left: 50%;
        width: calc(100% - #{$spacing * 4});
        max-width: 600px;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: $spacing * 3;
        padding-right: $spacing * 3;
        background-color: $color-WH;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: 10000001;
        @media screen and (min-width: 768px) {
            padding-left: 100px;
            padding-right: 100px;
        }
        &.message-loading::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: $color-secondary;
            opacity: 0.5;
            z-index: 1;
        }
        .icon-close {
            position: absolute;
            top: $spacing*2;
            right: $spacing*2;
            width: 40px;
            height: 40px;
            padding: 8px;
            color: $color-secondary;
            font-size: $font-size-24;
            line-height: 0;
            background-color: $color-WH;
            cursor: pointer;
            -webkit-transition: color 0.3s, background-color 0.3s;
            -o-transition: color 0.3s, background-color 0.3s;
            transition: color 0.3s, background-color 0.3s;
            &:hover {
                color: $color-WH;
                background-color: $color-primary;
            }
        }
        .message-title {
            font-size: $font-size-24;
            font-weight: $headings-font-weight;
            line-height: $headings-line-height;
            text-align: center;
        }
        .message-preface {
            padding-top: $spacing-tiny;
            margin-bottom: $spacing * 4;
            font-size: $font-size-18;
            font-family: $headings-font-family;
            font-weight: $font-weight-light;
            text-align: center;
            span {
                display: inline-block;
            }
        }
        form {
            > input[type*="email"] {
                display: block;
                width: 100%;
                height: 50px;
                border: 1px solid $divider-light;
                &:focus {
                    border-color: $color-NA400;
                }
                &.error-status {
                    border-color: $color-RED800;
                }
            }
            > div.help {
                display: none;
                padding-top: $spacing-tiny;
                padding-bottom: $spacing-tiny;
                color: $color-GR400;
                font-family: $font-family-sans;
                font-size: $font-size-14;
                &.help--error {
                    color: $color-warning;
                }
            }
            > label {
                display: grid;
                grid-template-columns: auto auto;
                align-items: baseline;
                padding-top: $spacing;
                span {
                    display: block;
                    padding-left: $spacing;
                }
                a {
                    text-decoration: underline;
                }
            }
            > button {
                display: table;
                margin-left: auto;
                margin-right: auto;
                margin-top: 30px;
            }
        }
    }
}

.black {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-secondary;
    opacity: 0.5;
    z-index: 10000000;
}
